<ion-header>
  <ion-toolbar color="corfundo">
    <ion-buttons slot="start">
      <ion-menu-button color="branco"></ion-menu-button>
    </ion-buttons>
    <ion-title >Sobre Mim</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card color="cornelson">
      <img src="./assets/imgs/nelson.jpg" />
      <ion-card-content>
        <h2> Chamo-me Nelson José Silva Novais, nasci no dia 6 de outubro de 2002, 
          tenho um irmão mais velho,
          sou natural de uma freguesia do conselho de Barcelos chamada Macieira de Rates, 
          neste momento estou a estudar engenharia informatica no IPVC. Desde pequeno que gosto de mexer em computadores
          embora muitas vezes não saiba muito bem o que estou a fazer, daí ter escolhido ir para o curso de engenharia informática.
          A partir do 11º ano comecei a aprender a programar com base em videos. 
        </h2>
      </ion-card-content>
    </ion-card>
    
   
</ion-content>
