<ion-header>
  <ion-toolbar color="corfundo">
    <ion-buttons slot="start">
      <ion-menu-button color="branco"></ion-menu-button>
    </ion-buttons>
    <ion-title>Habilitações</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cornelson">
    <img src="./assets/imgs/ebmacieira.jpg" />
    <ion-card-header>
      <ion-card-title>1º ciclo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Entrei para o primeiro ano em 2008 e concluí o quarto ano em 2013, durante o primeiro ciclo 
        frequentei a escola da minha freguesia, a Escola Básica de Macieria de Rates.</h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="cornelson"> 
    <img src="./assets/imgs/rates.jpg" />
    <ion-card-header>
      <ion-card-title>2º e 3º ciclo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Entrei para o quinto ano no ano de 2013
        para a EB 2/3 de Rates e lá andei até ao nono ano que acabei em 2017.</h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="cornelson">
    <img src="./assets/imgs/ESBarcelinhos.jpg" />
    <ion-card-header>
      <ion-card-title>Secundário</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Em 2017 entrei para o secundário para Ciencias e Tecnologias 
        já com uma ideia que queria ir para informática, finalizei o décimo segundo ano em 2020, durante os três anos 
        frequentei a Escola Secundária de barcelinhos.</h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="cornelson">
    <img src="./assets/imgs/estg.jpg" />
    <ion-card-header>
      <ion-card-title>Ensino Superior</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Desde 2020 que estou a estudar Engenharia Informática no IPVC.</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
