<ion-header>
  <ion-toolbar color="corfundo">
    <ion-buttons slot="start">
      <ion-menu-button color="branco"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text color="branco" icon>
    
    <!--Tamanho da letra e icon-->
      <h1><p><ion-icon slot="start" name="mail-outline" class="custom-icon"></ion-icon></p>Email: nelsonnovais@ipvc.pt</h1>
      <h1><p><ion-icon slot="start" name="call-outline" class="custom-icon"></ion-icon></p>Telefone: 926819580</h1>
      <h1><p><ion-icon name="business-outline" class="custom-icon"></ion-icon></p>Morada: Rua Velha do Picôto, nº53, Macieira de Rates</h1>
  </ion-text>

</ion-content>
