<ion-header>
  <ion-toolbar color="corfundo">
    <ion-buttons slot="start">
      <ion-menu-button color="branco"></ion-menu-button>
    </ion-buttons>
    <ion-title>Passatempos</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cornelson">
    <img src="./assets/imgs/fifa.jpg" />
    <ion-card-header>
      <ion-card-title>Videojogos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Nos meus tempos livres gosto muito de jogar videojogos, o primeiro jogo que joguei foi FIFA 05 e desde aí nunca parei, 
      gosto de vários tipos de Videojogos mas principalmente de jogos de futebol (FIFA, PES, Football Manager, Rocket League), 
      jogos de corridas (F1, Need For Speed, GTA, DIRT).</h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="cornelson">
    <img src="./assets/imgs/fcporto.jpg" />
    <ion-card-header>
      <ion-card-title>Desporto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Eu gosto muito de desporto em geral, mas mais nomeadamente ciclismo(o único que pratico regularmente), futebol e 
      desportos motorizados (F1 e MOTO GP).
      O desporto que costumo assitir com mais regularidade é futebol onde é raro perder um jogo do FC Porto. 
      Algumas vezes também vou ver jogos ao estádio do FC Porto e do Gil Vicente.</h2> 
    </ion-card-content>
  </ion-card>
  <ion-card color="cornelson">
    <img src="./assets/imgs/sp.jpg" />
    <ion-card-header>
      <ion-card-title>Filmes e Series</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Nos tempos livres também tenho por hábito ver filmes e séries sobre desporto, comédia ou ação, por exemplo:"Drive to Survive"
        ,"All or Nothing", "Mr Bean", "Ted", "Fast and Furious", "Prison Break","Spider-Man".
      </h2> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
